ion-card-content {
    min-height: 146px;
    padding: 8px;
}

ion-card-header {
    min-height: 40px;
}

ion-col.md.hydrated {
    padding: 2px;
    
}

ion-card-header {
    padding: 8px;
}

ion-button{
    margin: 10px;
    margin-bottom: 10px;
}

ion-card {
    margin:6px;
}

img {
    aspect-ratio: 1.78;
    object-fit: contain;
}

.putt {
    object-fit: cover;
}

ion-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
   
}