/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


h1{
    font-family: "pacifico";
    font-size: 80px;
    text-align: center;
    color: #FF2E63;
    margin: 2px 0;
    padding: 0;
    
}


h3 {
    font-family: "pacifico";
    font-size: 30px;
    text-align: center;
    color: #08D9D6;    
}

ion-title {
    font-family: "pacifico";
    color: #EAEAEA;
    font-size: 30px;

}

ion-content{
    --ion-background-color:#252A34;
}

ion-label{
    font-family: "pacifico";
    color: #EAEAEA;
    font-size: 14px;
}


ion-icon:active{
color: #FF2E63;
}

ion-card {
    font-family: "comfortaa";
    color: #EAEAEA;
}

ion-card-title {
    font-size: 18px;
}

ion-card-content {
    font-size: 12px;
}

ion-button {
    font-family: "comfortaa";
    color: #252A34;
    font-weight: 700;

}